argon2==0.1.10
av==11.0.0
numpy==1.23.5
opencv_python==4.9.0.80
pandas==2.2.1
Pillow==10.2.0
Requests==2.31.0
setuptools==69.1.0
streamlit==1.31.1
streamlit_cookies_manager==0.2.0
streamlit_lottie==0.0.5
streamlit_option_menu==0.3.12
streamlit_webrtc==0.47.1
torch==2.2.0
trycourier==5.0.0
ultralytics==8.1.15
streamlit==1.31.0

