section.main.st-emotion-cache-uf99v8.ea3mdgi8 {
    background-color:#ffefd5;
    /*background-image: url("https://images.umsplash.com/photo-1501426026326-31c667bdf23d");*/
}

header.st-emotion-cache-18ni7ap.ezrtsby2 {
    background-color:#deb887;
}

div.st-emotion-cache-6qob1r.eczjsme3 {
    background-color: #fbceb1;
}

svg.xlmns{
    border-color: #0d0d0d;
    border-style: medium;
    border-width: 2px;
    
}

div.st-emotion-cache-r421ms.e10yg2by1{
    background-color: rgb(248, 248, 248);
    border-color: #ffdead;
    border-style: medium;
    border-width: 3px;
}

input.st-bc {
    background-color: rgb(255, 255, 255);
    border-color: #0d0d0d;
}

div.root {
    border-color: #0d0d0d;
}
